html,
body,
#root,
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  padding: 50px;
  box-sizing: border-box;
}

.cool-background {
  background-image: url("mazani.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
